$facebook: #0866ff;
$youtube: #ff0000;
$twitter: #469cf0;
$whatsapp: #25d366;
$instagram-yellow: #f8d648;
$instagram-red: #e93365;
$instagram-magenta: #d32dbf;
$instagram-blue: #611ef5;
$snapchat: #fffc00;
$google-blue: #4285f4;
$google-red: #db4437;
$google-yellow: #f4b400;
$google-green: #0f9d58;
$tiktok-razzmatazz: #fe2c55;
$tiktok-splash: #25f4ee;
$microsoft-red: #f25022;
$microsoft-green: #7fba00;
$microsoft-blue: #00a4ef;
$microsoft-yellow: #ffb900;
$pinterest: #e60023;
$spotify: #1ed760;
$discord: #5865f2;
$telegram: #2aabee;
$reddit: #ff4500;
$amazon: #232f3e;
$twitch: #9146ff;
