$text-body-light: #1a1a1c;
$text-description-light: #626264;
$text-place-holder-light: #757578;
$text-on-fill-light: #ffffff;
$text-link-light: #0017c1;
$text-hover-light: #000082;
$text-active-light: #000082;
$text-visited-light: #000082;
$text-alert-light: #ec0000;
$text-disabled-light: #949497;
$icon-label-light: #1a1a1c;
$icon-active-light: #0017c1;
$icon-alert-light: #ec0000;
$icon-disabled-light: #949497;
$button-normal-light: #0017c1;
$button-hover-light: #000082;
$button-active-light: #000082;
$button-disabled-light: #949497;
$background-primary-light: #ffffff;
$background-secondary-light: #f1f1f4;
$background-tertiary-light: #f8f8fb;
$border-field-light: #1a1a1c;
$border-divider-light: #d8d8db;
$border-focused-light: #d18d0f;
$border-selected-light: #0017c1;
$border-alert-light: #ec0000;
$border-disabled-light: #949497;
$status-success-light: #259d63;
$status-alert-light: #ec0000;
$status-warning-light: #c16800;
$theme-primary-light: #0017c1;
$theme-secondary-light: #4979f5;
$text-body-dark: #ffffff;
$text-description-dark: #b4b4b7;
$text-place-holder-dark: #949497;
$text-on-fill-dark: #ffffff;
$text-link-dark: #7096f8;
$text-hover-dark: #9db7f9;
$text-active-dark: #9db7f9;
$text-visited-dark: #9db7f9;
$text-alert-dark: #ff4b36;
$text-disabled-dark: #757578;
$icon-label-dark: #ffffff;
$icon-active-dark: #7096f8;
$icon-alert-dark: #ff4b36;
$icon-disabled-dark: #757578;
$button-normal-dark: #7096f8;
$button-hover-dark: #4979f5;
$button-active-dark: #4979f5;
$button-disabled-dark: #949497;
$background-primary-dark: #1a1a1c;
$background-secondary-dark: #626264;
$background-tertiary-dark: #414143;
$border-field-dark: #ffffff;
$border-divider-dark: #626264;
$border-focused-dark: #d18d0f;
$border-selected-dark: #7096f8;
$border-alert-dark: #ff4b36;
$border-disabled-dark: #949497;
$status-success-dark: #259d63;
$status-alert-dark: #ff4b36;
$status-warning-dark: #d18d0f;
$theme-primary-dark: #c5d7fb;
$theme-secondary-dark: #9db7f9;
