@use "@/app/_styles/variables" as v;

@layer atoms {
  .main {
    background-color: v.$primary-color;
    &[data-has-icon="true"] {
      background-color: #f0f;
    }
    &[aria-pressed="true"] {
      background-color: #0ff;
    }
    &[disabled] {
      background-color: #aaa;
    }
  }
}
