@use "@/app/_styles/variables" as v;
@layer base, antd, atoms, molecules, pages;
// TODO: 検討する。カスタムプロパティの設定は別ファイルにしてもいいかもしれない
// TODO: 下記の:where(html)って参考にできそうか試す
// https://github.com/argyleink/open-props/blob/main/src/props.aspects.css
:root {
  --background: #{v.$background-color-light};
  --foreground: #{v.$foreground-color-light};
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #{v.$background-color-dark};
    --foreground: #{v.$foreground-color-dark};
  }
}

@layer base {
  html,
  body {
    max-width: 100vw;
    overflow-x: hidden;
  }

  body {
    color: v.$foreground-color;
    background: v.$background-color;
    font-family: v.$font-jp;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  // button {
  //   background-color: #0f0;
  // }

  @media (prefers-color-scheme: dark) {
    html {
      color-scheme: dark;
    }
  }
}
